In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
df = pd.read_csv('daily-website-visitors.csv')

# Clean column names for consistency
df.columns = df.columns.str.replace('.', '_', regex=False).str.strip()

# Convert 'Date' to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Sort by date
df.sort_values(by='Date', inplace=True)

# Basic data check
print(" Dataset Info:")
print(df.info())
print("\n Sample Data:")
print(df.head())

# Fill or fix missing values
df.fillna(0, inplace=True)

# Convert counts to integers
# Remove commas and convert to integers
for col in ['Page_Loads', 'Unique_Visits', 'First_Time_Visits', 'Returning_Visits']:
    df[col] = df[col].astype(str).str.replace(',', '').astype(int)

df.to_csv('cleaned_daily_visitors.csv', index=False)
print("\n Cleaned data saved as 'cleaned_daily_visitors.csv'. Ready for Tableau!")

 Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2167 entries, 0 to 2166
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Row                2167 non-null   int64
 1   Day                2167 non-null   object
 2   Day_Of_Week        2167 non-null   int64
 3   Date               2167 non-null   datetime64[ns]
 4   Page_Loads         2167 non-null   object
 5   Unique_Visits      2167 non-null   object
 6   First_Time_Visits  2167 non-null   object
 7   Returning_Visits   2167 non-null   object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 135.6+ KB
None

 Sample Data:
   Row        Day  Day_Of_Week       Date Page_Loads Unique_Visits  \
0    1     Sunday            1 2014-09-14      2,146         1,582
1    2     Monday            2 2014-09-15      3,621         2,528
2    3    Tuesday            3 2014-09-16      3,698         2,630
3    4  Wednesday            4 2014-09-17      3,667         2,614
4    5   Thursday            5 2014-09-18      3,316         2,366

  First_Time_Visits Returning_Visits
0             1,430              152
1             2,297              231
2             2,352              278
3             2,327              287
4             2,130              236

 Cleaned data saved as 'cleaned_daily_visitors.csv'. Ready for Tableau!